auto-save-list/
elpa/
*~
*#
.cache/
projectile-bookmarks.eld
transient/
flycheck_init.el
games/
semanticdb/
.lsp-session-v1
bookmarks
manual-packages/
session.*
recentf
customs.el
.tutor/
url/
places
emojis/
var/